<div>
<img src = "../images/kennyandme.jpg" />
<p class="bio">My name is Shannon Wynn. While I have 20+ years of experience in the world
of television, my new passion is web development. While I reside in the beautiful
sunshine state of Florida, my programming roots go all the way back to my upbringing at the
foot of the Blue Ridge Mountains of Virginia. I enjoy bacon, martial arts and cats.</p>
</div>
