$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/assets/stylesheets/bootstrap.scss';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
header,
.marketing,
footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
header {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;
    h1 {
      display: inline-block;
    }
    nav {
      display: inline-block;
      ul li {
        list-style: none;
        float: left;
        padding-left: 15px;
      }
    }
}

#newPost {
  width: 70%;
  margin: 0 auto;
}
